/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2015/11/27, 16:18:16
    Author     : 裕斗
*/

form{
    width: 380px;
    margin: 20px auto;
    padding: 2%;
    font-size: 150%;
    background: lightsteelblue;
}

.field{
    margin: 20px auto;
}

label{
    width: 170px;
    margin-right: 10px;
    float: left;
}

input[type="text"], input[type="email"],input[type="password"]{

}

input[type="submit"]{
    background:#3399cc;
    border:0;
    margin: 0 auto;
    padding:2% 5%;
    font-size:100%;
    font-weight:500;
    color:#fff;
    cursor:pointer;
    display: block;
}

input[type="submit"]:hover{
    background:#2288bb;
}

#confirm_dialog ul{
    list-style: none;
}

#confirm_dialog ul li {
    margin: 10px 0;
}

.dialog_item_name{
    width: 120px;
    margin-right: 10px;
    float: left;
}

.dialog_item_value {
    font-weight: bold;
}
